body
{
	background: url("fond_coeur.jpg");
}

.titre
{
	font-size: 4em;
	background-color: pink;
	color:  white;
	text-align:  center;
}

.sous_titre
{
	font-size:  2em;
}

.conclusion
{
	font-size: 3em;
	background-color: pink;
	color:  white;
	text-align:  center;
}

.num
{
	background-color: white;
	color:  black;

}
